.hero {
  background-image: url(/images/Ecobackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  flex: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39774cce;
}

.heroContent {
  display: flex;
  position: relative;
  /* max-width: 800px; */
  padding: 100px;
  margin-top: 45px;
  z-index: 1;
}

/* .subtitle {
  font-size: 1.5rem;
  margin-bottom: -8px;
} */

.heading {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #4caf50;
  background: #eff8f0;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  z-index: 2;
}

.box {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-left: 30px;
}

.content {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.p {
  margin: 0 0 1rem;
  color: #333;
}

.imagePlaceholder {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.imageDirectDealing {
  margin-top: 50px;
}

.imageChatting {
  margin-top: 20px;
}

.imageEco {
  margin-top: 50px;
}

/* .sns {
  color: #1a5c4e;
} */