.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.heroContent {
  max-width: 800px;
  padding: 20px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: -8px;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.ctaButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnPrimary {
  background-color: #4caf50;
  color: white;
}

.btnSecondary {
  background-color: rgba(255, 255, 255, 0.94);
  color: black;
}

.btnPrimary:hover {
  background-color: #45a049;
}

.btnSecondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
