.mainNav {
  flex: 0 1 auto;
  margin-right: 2rem;
}

.mainNav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-right: 4px;
  gap: 1rem;
}

.mainNav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: bold;
  white-space: nowrap;
}

.mainNav ul li {
  transition: background-color 0.2s ease;
  border-radius: 8px;
}

.mainNav ul li:hover {
  background-color: #a8ffab;
  border-radius: 8px;
  cursor: pointer;
}
