.user {
  display: flex;
  width: 300px;
  /* margin-left: 15px; */
}

.logoutButton,
.loggedIn {
  display: flex;
  align-items: center;
}

.login,
.register,
.logoutButton,
.productUpload {
  text-decoration: none;
  color: #4b4848;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  background: none;
  border: none;
  font-size: inherit;
}

.productUpload {
  margin-left: 10px;
  margin-right: 10px;
}

.login,
.register {
  padding-left: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 0.5rem;
  cursor: pointer;
}

.loggedIn,
.login,
.logoutButton,
.register,
.productUpload:hover {
  color: #2c2c2c;
}