.logoutButton,
.loggedIn {
  display: flex;
  align-items: center;
}

.login,
.register,
.logoutButton,
.productUpload {
  text-decoration: none;
  color: #4b4848;
  font-weight: bold;
  padding: 0 1rem;
  cursor: pointer;
  white-space: nowrap;
  background: none;
  border: none;
  font-size: inherit;
}


.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}