.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 4px;
  margin-top: 8px;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  text-align: center;
  color: #2c3e50;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 8px;
  cursor: pointer;
}

.profileImage {
  border: 1px solid black;
  border-radius: 50%;
}

.profileImageEdit {
  position: absolute;
  bottom: -10%;
  right: 0%;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infoBox strong {
  display: block;
  color: #27ae60;
  margin-bottom: 5px;
}

.inlineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.smallInputField {
  width: 200px;
  padding: 5px;
  font-size: 14px;
}

.inlineContainer label,
.inlineContainer strong {
  margin-right: 5px;
}

.button {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2bc02b;
}

.transactionHistoryButton {
  background-color: #f39c12;
}

.transactionHistoryButton:hover {
  background-color: #e67e22;
}

.editProfileButton {
  background-color: #3498db;
}

.editProfileButton:hover {
  background-color: #2980b9;
}

.saveProfileButton {
  background-color: #2ecc71;
  margin-left: 10px;
}

.saveProfileButton:hover {
  background-color: #27ae60;
}

.cancelProfileButton {
  background-color: #e74c3c;
  margin-left: 10px;
}

.cancelProfileButton:hover {
  background-color: #c0392b;
}

.updatePasswordButton {
  background-color: #8e44ad;
}

.updatePasswordButton:hover {
  background-color: #71368a;
}

.deleteAccountContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.deleteAccountButton {
  background-color: #e74c3c;
  width: auto;
}

.deleteAccountButton:hover {
  background-color: #c0392b;
}
