.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: #fff;
  display: flex;
  align-items: center;
}

.navigationButtons {
  display: flex;
  justify-content: center;
  /* position: absolute;
  bottom: 20px;
  left: 50%; */
}

.navButton {
  text-decoration: none;
  color: #fff;
  background-color: #1ea355;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin: 0 10px;
}

.navButton:hover {
  background-color: #13793e;
}
